.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    padding: 1rem;
    @media (max-width: 992px) {
        grid-template-columns: auto;
    }  
}

.card {
    border-radius: 30px;
    color: #fff;
    overflow: hidden;
    font-family: Montserrat, Arial, Helvetica, sans-serif;

    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3rem 0 4rem 0;
        background-image: linear-gradient(to bottom, rgba(243, 114, 114, 0.95), rgba(189, 46, 100, 0.95)), url(https://us.123rf.com/450wm/skazz/skazz2006/skazz200600072/148715411-cholatse-mountain-peak-view-from-dzongla-village-in-a-morning-himalaya-mountains-range-in-everest-ba.jpg?ver=6);
        background-size: cover;
    }

    &__avatar {
        width: 5rem;
        border-radius: 1.5rem;
        margin-bottom: 1rem;
        box-shadow: 0 1rem 0.7rem rgba(0, 0, 0, 0.3);
    }

    &__heading {
        font-size: 1.5rem;
        margin: 0;
        text-align: center;
    }

    &__sub-heading {
        font-size: 0.8rem;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        margin: 0.3rem 0 0.8rem 0;
    }

    &__id {
        font-size: 0.8rem;
        border: solid #fff 2px;
        border-radius: 20px;
        padding: 0.4rem 0.8rem;
        opacity: 0.8;
        background-color: rgba(0, 0, 0, 0.3);
    }

    &__body {
        padding: 0 0 1rem 0;
        background-color: #2c2c2c;
    }

    &__overlap-tray {
        position: relative;
        top: -3rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 1.5rem 3.5rem;
        width: 70%;
        margin: auto;
        background-color: #363636;
        border-radius: 15px;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);

        @media (max-width: 992px) {
            top: -2rem;
            padding: 1rem 0.5rem;
            width: 80%;
        }  

        &--half {
            text-align: center;

            & + & {
                border-left: 2px solid #3d3d3d;
            }
        }

        &__heading {
            margin: 0 0 0.3rem 0;
            font-size: 1.2rem;

            @media (max-width: 992px) {
                font-size: 1rem;
            }  
        }

        &__sub-heading {
            margin: 0;
            font-size: 0.8rem;
            letter-spacing: 0.1rem;
            text-transform: uppercase;
            color: rgba(255, 255, 255, 0.5);

            @media (max-width: 992px) {
                font-size: 0.5rem;
            }  
        }
    }

    &__details {
        margin-top: -1rem;
        padding: 0 2.5rem;

        &__heading {
            margin: 0;
            font-size: 0.8rem;
            letter-spacing: 0.1rem;
            text-transform: uppercase;
            color: rgba(255, 255, 255, 0.5);
        }

        &__text {
            margin: 0;
            font-size: 0.8rem;
            line-height: 1.2rem;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 3;
            display: -webkit-box;
            -webkit-box-orient: vertical;
        }

        & + & {
            margin-top: 1rem;
        }
    }
}